
.modal{opacity: 0; display:none;}
.close{cursor: pointer;}
.modalBody{position: fixed; z-index:1000; color: #eee; text-align: center; height:92%; width:92% ; left:5%; top:5%; }
.modalBK{position: fixed; z-index:999; height:100%; width:100%;background:#000; opacity: 0.8;}

#previewtreeview .ui-droppable-hover {
	background: #00ff8f;
}

#draggtarget > div > span {
	border-bottom: solid 2px #ff0000;
}

div.radio-group div {
	position: relative;
}

div.tvonc-radio-group input {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	left: 0px;
	outline:none;
}
div.tvonc-radio-group label {
	cursor: pointer;
	padding: 5px 10px;
	float: left;
	border: solid 1px #aaa;
	margin-left: -1px;
	background: #eee;
	background-image: -moz-linear-gradient(top, #F6F6F6, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#ccc));
	box-shadow: 2px 2px 6px #aaa;
	-webkit-box-shadow: 2px 2px 6px #aaa;
	-moz-box-shadow: 2px 2px 6px #aaa;
	text-shadow: 1px 1px 0px #fff;
}
div.tvonc-radio-group label:first-child {
	/* border-radius: 7px 0px 0px 7px / 7px 0px 0px 7px; */
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
}
div.tvonc-radio-group label:last-child {
	/* border-radius: 0px 7px 7px 0px / 0px 7px 7px 0px; */
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
}
div.tvonc-radio-group label.checked  {
	color: #fff;
	background: #B3B3B3;
	background-image: -moz-linear-gradient(top, #C3C3C3, #DBDBDB);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C3C3C3), to(#DBDBDB));
	text-shadow: 0px 0px 0px #fff;
}


